/* =================================
COLORS
================================= */
$backgroundPrimaryColor: #fafffe;
$backgroundSecondaryColor: #d2f9f1;
$dropColor: #50e3c2;
$subHeaderColor: #0c5f4c;
$mainHeaderColor: #063974;
$blackColor: #2c2c2c;
